@media(max-width: 1400px) {}

@media(max-width: 1200px) {
    .films__item {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .films__item_card {
        max-width: 48%;
        min-height: 700px;
    }

    .collections__catalog {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .collections__item {
        max-width: 500px;
        height: 270px;
    }

    .collections__item::after {
        background-size: 95% 90%;
    }
}

@media(max-width: 992px) {
    .films__item_card {
        min-height: 500px;
    }

    .films__item_card-bg {
        object-fit: fill;
    }

    .series__collection {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 250px;
        gap: 15px;
    }

    .series__item:nth-of-type(1) {
        grid-column: 1/3;
    }

    .series__item:nth-of-type(2) {
        grid-column: 3/5;
    }

    .series__item:nth-of-type(3) {
        grid-column: 3/5;
    }

    .series__item:nth-of-type(4) {
        grid-column: 1/3;
    }

    .series__item:nth-of-type(5) {
        grid-column: 3/5;
    }

    .series__item-bg {
        object-fit: cover;
    }

    .rocket {
        display: none;
    }

    .header__bg {
        object-fit: fill;
    }

    .header__content {
        height: 600px;
    }

    .logo {
        margin-bottom: 18px;
    }
}

@media(max-width: 768px) {
    .series__collection {
        grid-auto-rows: 200px;
    }
    .films__item_card{
        min-height: 450px;
    }
    .header__nav-content{
        flex-direction: column;
        align-items: center;
    }
    .footer__content{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

@media(max-width: 576px) {
    .series__collection{
        grid-template-columns: 1fr;
        grid-auto-rows: 310px;
    }
    .series__item:nth-of-type(n+1){
        grid-column: 1/2;
        grid-row: auto;
    }
    .films__item_card{
        max-width: 100%;
        min-height: 500px;
    }
    .widow .container img{
        width: 100%;
    }
    .series__poster{
        padding: 0 5px;
    }
    .series__poster-text{
        margin: 10px 0;
    }
}

@media (max-width: 400px) {
    .header__content_title {
        font-size: 50px;
        line-height: 55px;
    }
    .btn{
        padding: 17px 30px;
    }
    .header__btns{
        gap: 20px;
    }
    .header__nav-link{
        margin: 0 2px;
    }
    .logo{
        display: flex;
        width: 80px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .logo__text{
        font-size: 16px;
    
    }
    .logo img{
        width: 100%;
    }
    .series__poster{
        min-height: max-content;
        padding: 10px 5px;
    }
    .series__poster-title {
        font-size: 30px;
    }
    .series__poster-text{
        line-height: 20px;
    }
    .footer__text{
        text-align: center;
    }
    .header__content {
        height: 400px;
    }
    .header__content_text{
        margin: 20px 0;
    }
    .header__content_title{
        font-size: 30px;
    }
}